body {
<<<<<<< HEAD
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}
=======
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
}
>>>>>>> 039b5992bebac1863c81463b56230d424ab77c7c
